header{
    background-color: #F7DC6F;
}



.padding{
    padding: 50px 0 50px 0;
}

.margin{
    margin: 50px 0 50px 0;
}

.padding-bt-m{
    padding: 20px 0 20px 0;
}

.margin-t{
    margin-top: 40px
}



#parceiros .col-md-4 img{
    width: 100%;
}



#servicos .col-lg-6 img{
    max-width: 100%;
    height: 400px;
}

.bg-footer{
    background-color: #333;
    color: #fff;
}