header{
    background-color: #F7DC6F;
}



.padding{
    padding: 50px 0 50px 0;
}

.margin{
    margin: 50px 0 50px 0;
}

.padding-bt-m{
    padding: 20px 0 20px 0;
}

.margin-t{
    margin-top: 40px
}

#parceiros .col-md-4 img{
    width: 100%;
}

#servicos .col-md-6 img{
    max-width: 100%;
    height: 400px;
}

.bg-footer{
    background-color: #333;
    color: #fff;
}

footer{
    padding: 10px 0;
}

@media(max-width: 990px){
    header > nav > div.navbar-collapse{
        display: flex !important;
        flex-basis: auto;
    }

    header > nav > div.navbar-collapse ul{
        flex-direction: row;
    }

    header > nav > div.navbar-collapse ul a{
        padding: 8px !important;
    }
}

@media(max-width: 650px){
    header > nav > div.navbar-collapse{
        justify-content: flex-end;
    }

    header > nav > div.navbar-collapse ul{
        flex-direction: column;
    }

    header > nav > div.navbar-collapse ul a{
        padding: 2px !important;
    }
}


@media(max-width: 260px){
    #quemsomos .quem-somos img{
        width: 200px;
        height: 200px;
    }

    header > nav > div.collapse.navbar-collapse{
        display: none !important;
    }
}